### keyword - variable length argument -->**kwargs

In [ ]:
def info1(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [ ]:
info1(name  = 'Prajkta' ,  age  =  26   , Education = 'Masters')

{'name': 'Prajkta', 'age': 26, 'Education': 'Masters'}
<class 'dict'>

In [3]:
# key : values
def info2(**kwargs):
    for key , value in kwargs.items():
        print(f"{key} : {value}")

In [4]:
info2(empid  =  123 ,  emp_name  = 'santosh' , age  =  26 , email  = 'example@gmail.com')

empid : 123
emp_name : santosh
age : 26
email : example@gmail.com

In [5]:
info2(empid  =  234  , emp_name = 'marshal')

empid : 234
emp_name : marshal

In [6]:
course  = {'courseid' : 123  ,  'course name' : 'DA' , 'institute' : 'ETLHIVE'}

In [8]:
info2(course)

TypeError: info2() takes 0 positional arguments but 1 was given

### Dictionary unpacking

In [7]:
info2(**course)

courseid : 123
course name : DA
institute : ETLHIVE

# create function two double money

In [23]:
money1  =   {'500' : 5  , '10' : 10  ,  '5' : 10 ,  '1':7 , '2': 10}

In [24]:
# double number of notes 
def money(**kwargs):
    output  = {}
    for money  , notes in kwargs.items():
        output[money] = notes*2
    return  output

In [25]:
money(**money1)

{'500': 10, '10': 20, '5': 20, '1': 14, '2': 20}

In [22]:
{12:2, 3:3,4:5}

{12: 2, 3: 3, 4: 5}

## Create function for fill the form

In [ ]:
# name ,  age, gender , email 
def info()

In [4]:
def fill_form(**kwargs):
    user = {'Name' : None,
    'Age'  : None  ,
    'Gender' : None ,
    'email'  : None}
    user.update(kwargs)
    return user

In [5]:
fill_form(Name = 'Prajkta' ,  Age  =  26  , Gender =  "Female")

{'Name': 'Prajkta', 'Age': 26, 'Gender': 'Female', 'email': None}

In [10]:
fill_form(name = 'Prajkta' ,  Age  =  26  , Gender =  "Female",  education  = 'Masters')

{'Name': None,
 'Age': 26,
 'Gender': 'Female',
 'email': None,
 'name': 'Prajkta',
 'education': 'Masters'}

In [31]:
fill_form( Name  =  "Mohit", adress = 'Pune' ,age=24, gender="Male", email="mohit@example.com")

{'name': '', 'age': 24, 'gender': 'Male', 'email': 'mohit@example.com'}

# Method 2

In [7]:
def fill_form2(**kwargs):
    name = input('Enter the name :')
    age = int(input('Enter the age : '))
    gender = input('Enter the gender : ')
    email = input('Enter the email : ')
    print('Name : ', name)
    print('Age : ', age)
    print('Gender : ',gender)
    print('Email : ', email)

In [29]:
# age can not keep empty
fill_form2()

ValueError: invalid literal for int() with base 10: ''

# method 3

In [1]:
def fill_form(**kwargs):
    form_data = {
        "name": kwargs.get("name", ""),
        "age": kwargs.get("age", ""),
        "gender": kwargs.get("gender", ""),
        "email": kwargs.get("email", "")
    }
    return form_data
user = fill_form(name="Mohit", age=24, gender="Male", email="mohit@example.com")

# final function
 We can set any default value -- in place of None

In [ ]:
# final Function
def form_fill_f(**kwargs):
    user = {'Name'.lower() : None,
    'Age'.lower()  : None  ,
    'Gender'.lower() : None ,
    'email'.lower()  : None}
    for key , value in  kwargs.items():
        if key.lower() in user :
            user[key.lower()] = value
    return  user

In [28]:
form_fill_f(NaMe="Mohit", age=24, gender="Male", email="mohit@example.com",  education  = 'masters')

{'name': 'Mohit', 'age': 24, 'gender': 'Male', 'email': 'mohit@example.com'}

In [30]:
form_fill_f(name  = 'Swara')

{'name': 'Swara', 'age': None, 'gender': None, 'email': None}

# Create bill for Hotel

In [37]:
menu  =  {"Pizza" :  250  , "Sandwich":  100  , "Samosa" : 20 }

In [38]:
menu['Pizza']

250

In [39]:
menu['Burgur']

KeyError: 'Burgur'

In [40]:
menu.get('Pizza')

250

In [42]:
a  = menu.get('Burgur')

In [43]:
print(a)

None

In [ ]:
def  Hotel_bill(**kwargs):
    total_bill = 0 
    for food , quantity in kwargs.items():
        if menu.get(food) is not None:
            sub_total  =  menu.get(food)*quantity
            print(f"total bill for  {food} -->{sub_total}")

            total_bill = total_bill+ sub_total
    return f"Total Bill --> {total_bill}"

In [45]:
Hotel_bill(Pizza  =  2)

total bill for  Pizza -->500

'Total Bill --> 500'

In [46]:
Hotel_bill(Pizza  =  2 ,  Kachori   =  4 ,  Sandwich  =  3)

total bill for  Pizza -->500
total bill for  Sandwich -->300

'Total Bill --> 800'

In [47]:
Hotel_bill(pizza  =  2 ,  Kachori   =  4 ,  Sandwich  =  3)

total bill for  Sandwich -->300

'Total Bill --> 300'

# for food make it case insensitive

In [48]:
menu

{'Pizza': 250, 'Sandwich': 100, 'Samosa': 20}

In [49]:
def  Hotel_bill(**kwargs):
    total_bill = 0 
    for food , quantity in kwargs.items():
        if menu.get(food.capitalize()) is not None:
            sub_total  =  menu.get(food.capitalize())*quantity
            print(f"total bill for  {food} -->{sub_total}")

            total_bill = total_bill+ sub_total
    return f"Total Bill --> {total_bill}"

In [50]:
Hotel_bill(pizza  =  2 ,  Kachori   =  4 ,  Sandwich  =  3)

total bill for  pizza -->500
total bill for  Sandwich -->300

'Total Bill --> 800'

In [51]:
# change case of sandwith and pizza
Hotel_bill(PIZZA =  3  , BURGUR  =  1 , SAMOSA  = 3  , SANDWICH  = 3)

total bill for  PIZZA -->750
total bill for  SAMOSA -->60
total bill for  SANDWICH -->300

'Total Bill --> 1110'