In [114]:
12/2

6.0

In [115]:
/21

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\admin\AppData\Local\Temp\ipykernel_14508\540811526.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  21()

TypeError: 'int' object is not callable

In [116]:
'str'/12

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [117]:
'12'/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [118]:
s  =  '1233'
int(s)

1233

In [119]:
v  = 'abc'
int(v)

ValueError: invalid literal for int() with base 10: 'abc'

In [1]:
def div():
  num  =  float(input('enter numerator here'))
  den  =  float(input('enter denomenator here'))
  div  =  num/den
  print(f"division between {num}  and {den} --> {div}")
  return div

In [2]:
div()

division between 12.0  and 3.0 --> 4.0

4.0

In [3]:
div()

ValueError: could not convert string to float: ''

In [4]:
div()

ValueError: could not convert string to float: 'swara'

In [5]:
div()

ValueError: could not convert string to float: "'12"

In [6]:
div()

ZeroDivisionError: float division by zero

In [9]:
div()
print('hello python')

ValueError: could not convert string to float: ''

In [11]:
div()
12+34

ValueError: could not convert string to float: ''

In [ ]:
# try 
# except

# create  division function with exceptional handling

In [12]:
def div1():
    try:
        num  =  float(input('enter numerator here'))
        den  =  float(input('enter denominator here'))
        div  =  num/den
        print(f"division between {num}  and {den} -->{div}")
        return  div

    except Exception as e:
        print(f"Exception occured at {e}")

In [14]:
# check
div1()

division between 12.0  and 2.0 -->6.0

6.0

In [16]:
div1()
print('hello python')

Exception occured at could not convert string to float: ''
hello python

In [18]:
div1()
12+45

Exception occured at could not convert string to float: "'12'"

57

In [21]:
div1()
print('hello python')
for i in range(1,11):
    print(i)

Exception occured at float division by zero
hello python
1
2
3
4
5
6
7
8
9
10

In [25]:
path  =  r"C:\Users\admin\Download\sample_set.csv"
import pandas  as pd

In [26]:
with  open(path) as file :
    data  =  pd.read_csv(path)
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\admin\\Download\\sample_set.csv'

In [84]:
def file_reading(path):
    try:
        with  open(path) as file :
            data  =  pd.read_csv(path)
        return data

    except Exception as e :
        print('file doesn"t exist'  , e)

In [86]:
file_reading(r"C:\Users\admin\Downloads\HR_Analytics.csv")

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [87]:
file_reading(r"C:\Users\admin\Downloads\HR_Analytic.csv")

file doesn"t exist [Errno 2] No such file or directory: 'C:\\Users\\admin\\Downloads\\HR_Analytic.csv'

# Try with file not found error

In [92]:
def file_reading1(path):
    try:
        with  open(path) as file :
            data  =  pd.read_csv(path)
            print(data)

    except FileNotFoundError:
        print("path is invalid or file doesn't exists")

In [93]:
file_reading1(r"C:\Users\admin\Downloads\HR_Analytics.csv")
print(12+45)

       EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
0      RM297   18    18-25       Yes      Travel_Rarely        230
1      RM302   18    18-25        No      Travel_Rarely        812
2      RM458   18    18-25       Yes  Travel_Frequently       1306
3      RM728   18    18-25        No         Non-Travel        287
4      RM829   18    18-25       Yes         Non-Travel        247
...      ...  ...      ...       ...                ...        ...
1475   RM412   60      55+        No      Travel_Rarely        422
1476   RM428   60      55+        No  Travel_Frequently       1499
1477   RM537   60      55+        No      Travel_Rarely       1179
1478   RM880   60      55+        No      Travel_Rarely        696
1479  RM1210   60      55+        No      Travel_Rarely        370

                  Department  DistanceFromHome  Education EducationField  ...  \
0     Research & Development                 3          3  Life Sciences  ...
1                      Sales                10          3        Medical  ...
2                      Sales                 5          3      Marketing  ...
3     Research & Development                 5          2  Life Sciences  ...
4     Research & Development                 8          1        Medical  ...
...                      ...               ...        ...            ...  ...
1475  Research & Development                 7          3  Life Sciences  ...
1476                   Sales                28          3      Marketing  ...
1477                   Sales                16          4      Marketing  ...
1478                   Sales                 7          4      Marketing  ...
1479  Research & Development                 1          4        Medical  ...

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            3             80                 0
1                            1             80                 0
2                            4             80                 0
3                            4             80                 0
4                            4             80                 0
...                        ...            ...               ...
1475                         4             80                 0
1476                         4             80                 0
1477                         4             80                 0
1478                         2             80                 1
1479                         3             80                 1

     TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                    0                      2                3
1                    0                      2                3
2                    0                      3                3
3                    0                      2                3
4                    0                      0                3
...                ...                    ...              ...
1475                33                      5                1
1476                22                      5                4
1477                10                      1                3
1478                12                      3                3
1479                19                      2                4

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0                  0                  0                        0
1                  0                  0                        0
2                  0                  0                        0
3                  0                  0                        0
4                  0                  0                        0
...              ...                ...                      ...
1475              29                  8                       11
1476              18                 13                       13
1477               2                  2                        2
1478              11                  7                        1
1479               1                  0                        0

     YearsWithCurrManager
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.0
...                   ...
1475                 10.0
1476                 11.0
1477                  2.0
1478                  9.0
1479                  0.0

[1480 rows x 38 columns]
57

In [94]:
file_reading1(r"HR_Analytics.csv")

path is invalid or file doesn't exists

In [79]:
file_reading1()

path is invalid or file doesn't exists

# try with multiple excepts

In [30]:
def div2():
    try:
        num  =  float(input())
        den  =  float(input())
        div =  num/den
        print(f"division between {num} and {den} --> {div}")
        return div

    except ValueError:
        print('strings are not allowed')
        print('Blank Spaces are not allowed')
        print('Please enter only numerical data')

    except ZeroDivisionError:
        print('Denominator should not zero')

    except Exception as e:
        print('Exception occured' ,  e)

In [32]:
div2()

division between 12.0 and 2.0 --> 6.0

6.0

In [33]:
# keep numerator blank
div2()

strings are not allowed
Blank Spaces are not allowed
Please enter only numerical data

In [ ]:
# pass string   -->swara
div2()

strings are not allowed
Blank Spaces are not allowed
Please enter only numerical data

In [ ]:
# pass boolean data   --> True
div2()

strings are not allowed
Blank Spaces are not allowed
Please enter only numerical data

In [37]:
# keep denominator zero
div2()

Denominator should not zero

# raise valueError for valid age

In [42]:
age = int(input('enter age here'))

In [61]:


def valid_age():
    try:
        age =  int(input('please enter valid age'))
        if age < 0 or age > 120:
            raise ValueError('Valid age between 0 to 120 -->  please enter valid age')
        else:
            print('Age of user is ' , age)
            return age

    except Exception as e:
        print('Exception occured at' , e)

In [62]:
# pass age  20
valid_age()

Age of user is  20

20

In [63]:
# pass negative age --> -50
valid_age()

Exception occured at Valid age between 0 to 120 -->  please enter valid age

In [65]:
# keep age blank
valid_age()

Exception occured at invalid literal for int() with base 10: ''

In [66]:
# pass string 'str'
valid_age()

Exception occured at invalid literal for int() with base 10: 'str'

In [67]:
# insert age 130 
valid_age()

Exception occured at Valid age between 0 to 120 -->  please enter valid age

In [68]:
# insert age 0
valid_age()

Age of user is  0

0

In [100]:
import numpy

In [107]:
# create function to find square of number
def square():
    try :
        num  = float(input())
        square  =  numpy.square(num)
        return square

    except Exception as e :
        print('Please Enter numeric data'  , e)

In [105]:
# pass 12
square()

np.float64(144.0)

In [108]:
# pass blank space
square()

Please Enter numeric data could not convert string to float: ''

### try  :  condition which we are trying
### except  :  when try is wrong
### else: when try is satisfied  
### finally always excutes

In [110]:
# create function to find square of number
def square():
    try :
        num  = float(input())
        square  =  numpy.square(num)
        

    except Exception as e :
        print('Please Enter numeric data'  , e)

    else:
        print('Square of number is ' , square)
        return square

    finally:
        print('I will always excutes')

In [112]:
square()

Square of number is  9.0
I will always excutes

np.float64(9.0)

In [113]:
square()

Please Enter numeric data could not convert string to float: ''
I will always excutes