In [1]:
12/2

6.0

12/2

In [2]:
'str'/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
/12

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\admin\AppData\Local\Temp\ipykernel_14028\3286522959.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  12()

TypeError: 'int' object is not callable

In [4]:
i1  =  12
str(i1)

'12'

In [5]:
s1  = 'abc'
int(s1)

ValueError: invalid literal for int() with base 10: 'abc'

In [6]:
13/0

ZeroDivisionError: division by zero

# Create functiuon for division

In [9]:
def div():
    num  =  float(input())
    den  =  float(input())
    div  =  num/den
    print(f"Divison between {num}/{den}--> {div}")
    return  div

In [10]:
div()

Divison between 12.0/3.0--> 4.0

4.0

In [12]:
# pass num  -->blank , den  3
div()
print("I am Happy")

ValueError: could not convert string to float: ''

In [ ]:
div()   # denominator  -->0

ZeroDivisionError: float division by zero

In [14]:
# input  '12' in den
div()

ValueError: could not convert string to float: "'12'"

In [15]:
# to solve these situations use try and except
def  Div2():
    try:
        num  =  float(input())
        den  =  float(input())
        div  =  num/den
        print(f"Divison between {num}/{den}--> {div}")
        return  div

    except Exception as e:
        print("exception occured at" , e)

In [ ]:
a  =  Div2()

Divison between 12.0/40.0--> 0.3

In [17]:
a

0.3

In [18]:
# keep numerator blank
b  =  Div2()

exception occured at could not convert string to float: ''

In [22]:
# keep numerator blank
b  =  Div2()
print(12 +34)
print('I am happy')

exception occured at could not convert string to float: ''
46
I am happy

In [23]:
# keep numerator blank
b  =  Div2()
print(12 +34)
print('I am happy')
for i in range(1 ,6):
    print(i*5)

exception occured at could not convert string to float: ''
46
I am happy
5
10
15
20
25

# Division function with multiple exceptions

In [39]:
def div3():
    try:
        num  =  float(input("please enter number"))
        den  =  float(input("please enter number"))
        div  =  num/den
        print(f"Division between {num}/{den} -->{div}")
        return div

    # value error
    except ValueError:
        print("Input should not string or blank")

    # zerodivisionerror
    except ZeroDivisionError:
        print('Denominator should not be zero')

    except Exception as e:
        print(
            "exception occured at", e)

In [40]:
# take  den  = ''
div3()

Input should not string or blank

In [41]:
# pass "34546"
div3()

Input should not string or blank

In [43]:
# divide by 0
div3()

Denominator should not be zero

In [44]:
div3()

Input should not string or blank

In [46]:
#pass 1000 , 100
div3()

Division between 1000.0/100.0 -->10.0

10.0

In [26]:
# import filepath
path  =  r"C:\Users\admin\Downloads\50_Startups.csv"

In [25]:
import pandas as pd

In [27]:
df  =  pd.read_csv(path)

In [28]:
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [29]:
# import filepath
path1  =  r"C:\Users\admin\Downloads\50_Startup.csv"
df1  = pd.read_csv(path1)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\admin\\Downloads\\50_Startup.csv'

In [30]:
def file_read():
    path  = input()
    df  =  pd.read_csv(path)
    return df

In [31]:
file_read()

OSError: [Errno 22] Invalid argument: 'r"C:\\Users\\admin\\Downloads\\50_Startups.csv"'

In [36]:
def file_read(path):
  
    df  =  pd.read_csv(path)
    return df

In [37]:
df  =  file_read(path  = r"C:\Users\admin\Downloads\50_Startups.csv")

In [38]:
df

          RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40

In [49]:
def file_read1(path):
    try :
        df  =  pd.read_csv(path)
        return df.head()
    except FileNotFoundError:
        print("File does'nt exists or directory is wrong")
    
    except Exception as e:
        print("Exception occured at "  , e)

In [50]:
file_read1(r"C:\Users\admin\Downloads\iris.csv")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [51]:
file_read1(r"C:\Users\admin\Downloads\iris_1.csv")

File does'nt exists or directory is wrong

In [54]:
file_read1('gfuyu')

File does'nt exists or directory is wrong

In [6]:
age  =  int(input())
age

140

In [ ]:
age  = int(i)

In [7]:
def valid_age():
    try:
        age  =  int(input("Please enter valid age here"))
        if age > 0 and  age <= 120:
            print(age ,'Age is  valid')

        else : 
            print(age  , "is not valid age")
            print('please enter age between 0 to 120' ) 
    except Exception as e:
        print("exception occured at" , e)

In [8]:
# pass age  = 12
valid_age()

12 Age is  valid

In [9]:
# pass blank age
valid_age()

exception occured at invalid literal for int() with base 10: ''

In [10]:
# pass  age  = 130
valid_age()

130 is not valid age
please enter age between 0 to 120

In [11]:
# pass age  =  45.56
valid_age()

exception occured at invalid literal for int() with base 10: '45.56'

# try :  checking conditions
# except :  if try is not tru then except will excutes
# else : if try is true
# finally : will always excutes

In [14]:
# create function for finding sqaure of number
def square():
    try :
        num  =  float(input("enter number here"))
        s  = num**2
    except Exception as e : 
        print("exception occured at " , e) 

    else:
        print(f"operation is {num}**2 -->{s}")
        return s
    finally:
        print('I am in finally')
        print("I Always Excutes")

In [15]:
square()

operation is 23.0**2 -->529.0
I am in finally
I Always Excutes

529.0

In [16]:
square()

exception occured at  could not convert string to float: ''
I am in finally
I Always Excutes