# Polymorphism in operators

In [1]:
#  +
12 +34

46

In [1]:
s1  =  "Prancipal"
s2  =  "component Analysis"
s1 +s2

'Prancipalcomponent Analysis'

In [2]:
l1  = [12,4,5]
l2  = ['ML' , "DL" , 23]
l1+l2

[12, 4, 5, 'ML', 'DL', 23]

In [3]:
l1  = (12,4,5)
l2  = ('ML' , "DL" , 23)
l1+l2

(12, 4, 5, 'ML', 'DL', 23)

# Polymorphism in function 
-  len

In [ ]:
len('Time Series')  # strring

11

In [ ]:
len([12,34,56, "Sunita"])   # list

4

In [6]:
len((12,34,56, "Sunita"))   # tuple

4

In [7]:
len({12,34,56, "Sunita"})   # set

4

In [8]:
# series
import pandas as pd

In [9]:
dic1  =  {"name" : "jay" ,  "email"  : "jay.example@gmail.com" , "Edu" : "M tech"}

In [10]:
s  =  pd.Series(dic1)

In [11]:
s

name                       jay
email    jay.example@gmail.com
Edu                     M tech
dtype: object

In [12]:
len(s)

3

In [14]:
# dataframe
dic1  =  {"name" : ["jay" ,   'neeta'] , "email"  : ["jay.exmple@gmail.com" ,  "neeta@gmgmail.com"] , "Edu" : ["M tech", "Btech"]}

In [15]:
dic1

{'name': ['jay', 'neeta'],
 'email': ['jay.exmple@gmail.com', 'neeta@gmgmail.com'],
 'Edu': ['M tech', 'Btech']}

In [16]:
df  =  pd.DataFrame(dic1)

In [17]:
df

    name                 email     Edu
0    jay  jay.exmple@gmail.com  M tech
1  neeta     neeta@gmgmail.com   Btech

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
len(df)

2

In [20]:
len(dic1)

3

In [ ]:
# classs  for India , France  ,  USA

In [12]:
class  India:
    def Capital(self):
        return "Capital of India is Delhi"

    def Language(self):
        return "National Language of india  is Hindi"
    
# create class France


class France:
    def Capital(self):
        return  "Capital of France is Paris"

    # def language method

    def Language(self):
        return 'National Language of france is French'


class USA :
    def Capital(self):
        return  "Capital of USA is Washington D.C"

    def Language(self):
        return  "National language of USA is English"

In [13]:
I1  =  India()

In [14]:
I1.Capital()

'Capital of India is Delhi'

In [15]:
I1.Language()

'National Language of india  is Hindi'

In [16]:
# France
F1  =  France()

In [17]:
F1.Capital()

'Capital of France is Paris'

In [18]:
F1.Language()

'National Language of france is French'

In [19]:
U1   =  USA()

In [20]:
U1.Capital()

'Capital of USA is Washington D.C'

In [21]:
U1.Language()

'National language of USA is English'

In [22]:
for i in [I1 ,  F1 ,  U1]:
    print(i.Capital())
    print(i.Language())
    print()
    print('--------------------------------------')
    print()

Capital of India is Delhi
National Language of india  is Hindi

--------------------------------------

Capital of France is Paris
National Language of france is French

--------------------------------------

Capital of USA is Washington D.C
National language of USA is English

--------------------------------------

In [ ]:
# Create class for Circle  & Rectangle to find  area and permeter  .