# Polymorphism in operators

In [1]:
#  +
12 +34

46

In [1]:
s1  =  "Prancipal"
s2  =  "component Analysis"
s1 +s2

'Prancipalcomponent Analysis'

In [2]:
l1  = [12,4,5]
l2  = ['ML' , "DL" , 23]
l1+l2

[12, 4, 5, 'ML', 'DL', 23]

In [3]:
l1  = (12,4,5)
l2  = ('ML' , "DL" , 23)
l1+l2

(12, 4, 5, 'ML', 'DL', 23)

# Polymorphism in function 
-  len

In [ ]:
len('Time Series')  # strring

11

In [ ]:
len([12,34,56, "Sunita"])   # list

4

In [6]:
len((12,34,56, "Sunita"))   # tuple

4

In [7]:
len({12,34,56, "Sunita"})   # set

4

In [8]:
# series
import pandas as pd

In [9]:
dic1  =  {"name" : "jay" ,  "email"  : "jay.example@gmail.com" , "Edu" : "M tech"}

In [10]:
s  =  pd.Series(dic1)

In [11]:
s

name                       jay
email    jay.example@gmail.com
Edu                     M tech
dtype: object

In [12]:
len(s)

3

In [14]:
# dataframe
dic1  =  {"name" : ["jay" ,   'neeta'] , "email"  : ["jay.exmple@gmail.com" ,  "neeta@gmgmail.com"] , "Edu" : ["M tech", "Btech"]}

In [15]:
dic1

{'name': ['jay', 'neeta'],
 'email': ['jay.exmple@gmail.com', 'neeta@gmgmail.com'],
 'Edu': ['M tech', 'Btech']}

In [16]:
df  =  pd.DataFrame(dic1)

In [17]:
df

    name                 email     Edu
0    jay  jay.exmple@gmail.com  M tech
1  neeta     neeta@gmgmail.com   Btech

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
len(df)

2

In [20]:
len(dic1)

3

In [ ]:
# classs  for India , France  ,  USA

In [12]:
class  India:
    def Capital(self):
        return "Capital of India is Delhi"

    def Language(self):
        return "National Language of india  is Hindi"
    
# create class France


class France:
    def Capital(self):
        return  "Capital of France is Paris"

    # def language method

    def Language(self):
        return 'National Language of france is French'


class USA :
    def Capital(self):
        return  "Capital of USA is Washington D.C"

    def Language(self):
        return  "National language of USA is English"

In [13]:
I1  =  India()

In [14]:
I1.Capital()

'Capital of India is Delhi'

In [15]:
I1.Language()

'National Language of india  is Hindi'

In [16]:
# France
F1  =  France()

In [17]:
F1.Capital()

'Capital of France is Paris'

In [18]:
F1.Language()

'National Language of france is French'

In [19]:
U1   =  USA()

In [20]:
U1.Capital()

'Capital of USA is Washington D.C'

In [21]:
U1.Language()

'National language of USA is English'

In [22]:
for i in [I1 ,  F1 ,  U1]:
    print(i.Capital())
    print(i.Language())
    print()
    print('--------------------------------------')
    print()

Capital of India is Delhi
National Language of india  is Hindi

--------------------------------------

Capital of France is Paris
National Language of france is French

--------------------------------------

Capital of USA is Washington D.C
National language of USA is English

--------------------------------------

In [ ]:
# Create class for Circle  & Rectangle to find  area and permeter  .

In [27]:
# create class  for circle
from  dataclasses import dataclass
import math
@dataclass
class Circle :
     r:int|float

     def Perimeter(self):
          p =  2*(math.pi)*self.r
          return  f"perimeter of Cicle  {p}"
     
     def  Area(self):
          A  = (math.pi)*(self.r)**2
          return  f"Area of Circle is  {A}"
          

#

In [31]:
C1 =  Circle(3)

In [32]:
C1.Perimeter()

'perimeter of Cicle  18.84955592153876'

In [33]:
C1.Area()

'Area of Circle is  28.274333882308138'

In [36]:
@dataclass
class Rectangle:
    height: int|float
    width: int|float
 
    def Perimeter(self):
        return 2 * (self.height + self.width)
   
    def Area(self):
        return self.height * self.width

In [37]:
R1  =  Rectangle(height= 21 , width= 12)

In [38]:
R1.Perimeter()

66

In [39]:
R1.Area()

252

In [40]:
@dataclass
class Triangle:
    a : int|float
    b : int|float
    c : int|float
    def Perimeter(self): 
        if (self.a+self.b>self.c) and \
          (self.b +self.c > self.a) and  \
           (self.a+ self.c > self.b):
           p = self.a+self.b+self.c
           return  p
    
    def Area(self):
        if self.Perimeter() is not None:
            s  =  self.Perimeter()/2

            Area  =  (s*(s-self.a)*(s-self.b)*(s-self.c))**1/2
            return f"Area of Triangle is {Area}"

        else:
            print(f"Sides do not form Triangle")

In [42]:
T1  =  Triangle(a  =  23 , b = 15  , c  =  16)

In [45]:
for i in [T1  , C1  , R1]:
    print(i)
    print("Perimeter" , i.Perimeter())
    print("Area" , i.Area())
    print()
    print("---------------------------")
    print( )

Triangle(a=23, b=15, c=16)
Perimeter 54
Area Area of Triangle is 7128.0

---------------------------

Circle(r=3)
Perimeter perimeter of Cicle  18.84955592153876
Area Area of Circle is  28.274333882308138

---------------------------

Rectangle(height=21, width=12)
Perimeter 66
Area 252

---------------------------