# Polymorphism in operators

In [1]:
#  +
12 +34

46

In [1]:
s1  =  "Prancipal"
s2  =  "component Analysis"
s1 +s2

'Prancipalcomponent Analysis'

In [2]:
l1  = [12,4,5]
l2  = ['ML' , "DL" , 23]
l1+l2

[12, 4, 5, 'ML', 'DL', 23]

In [3]:
l1  = (12,4,5)
l2  = ('ML' , "DL" , 23)
l1+l2

(12, 4, 5, 'ML', 'DL', 23)

# Polymorphism in function 
-  len

In [ ]:
len('Time Series')  # strring

11

In [ ]:
len([12,34,56, "Sunita"])   # list

4

In [6]:
len((12,34,56, "Sunita"))   # tuple

4

In [7]:
len({12,34,56, "Sunita"})   # set

4

In [8]:
# series
import pandas as pd

In [9]:
dic1  =  {"name" : "jay" ,  "email"  : "jay.example@gmail.com" , "Edu" : "M tech"}

In [10]:
s  =  pd.Series(dic1)

In [11]:
s

name                       jay
email    jay.example@gmail.com
Edu                     M tech
dtype: object

In [12]:
len(s)

3

In [14]:
# dataframe
dic1  =  {"name" : ["jay" ,   'neeta'] , "email"  : ["jay.exmple@gmail.com" ,  "neeta@gmgmail.com"] , "Edu" : ["M tech", "Btech"]}

In [15]:
dic1

{'name': ['jay', 'neeta'],
 'email': ['jay.exmple@gmail.com', 'neeta@gmgmail.com'],
 'Edu': ['M tech', 'Btech']}

In [16]:
df  =  pd.DataFrame(dic1)

In [17]:
df

    name                 email     Edu
0    jay  jay.exmple@gmail.com  M tech
1  neeta     neeta@gmgmail.com   Btech

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
len(df)

2

In [20]:
len(dic1)

3